<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="../../static/Semantic-UI-CSS-master/semantic.min.css" th:href="@{/Semantic-UI-CSS-master/semantic.min.css}" />
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}" />
</head>
<body>
<!--导航-->
<nav th:replace="_fragment :: nav(0)">
</nav>

<br>
<br>
<br>
<br>
<div class="m-container-small m-padded-tab-massive ">
    <div class="ui error message">
        <div class="ui container">
            <h2>404</h2>
            <p>对不起，您访问的资源不存在</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<!-- 底部 -->
<footer th:replace="_fragment :: footer">
</footer>
</body>
</html>