<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>归档</title>
		<link rel="stylesheet" type="text/css" href="../static/Semantic-UI-CSS-master/semantic.min.css"  th:href="@{/Semantic-UI-CSS-master/semantic.min.css}" />
		<link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}" />
		<script src="../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
		<script src="../static/Semantic-UI-CSS-master/semantic.min.js" th:src="@{/Semantic-UI-CSS-master/semantic.min.js}"></script>
	</head>
	<body>
		<!-- 导航 -->
		<nav th:replace="_fragment :: nav(4)">
		</nav>
		<!-- 中间内容 -->
		<div class="m-container-small  m-padded-tab-big">
			<div class="ui container">
				<!-- header -->
				<div class="ui top  attached padded segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h3 class="ui teal header">归档</h3>
						</div>
						<div class="column right aligned">
							共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> 114 </h2>篇博客
						</div>
					</div>
				</div>

				<th:block th:each="archive :${archives}">
					<h2 class="ui center aligned header" th:text="${archive.key}">2021</h2>
					<div class="ui fluid vertical menu">
						<a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${archive.value}">
						<span>
							<i class="mini teal circle icon" style="margin-right: 10px;"></i><span th:text="${blog.title}">关于刻意练习的清单</span>
							<div class="ui teal basic left pointing label m-padded-mini" th:text="${#dates.format(blog.createTime,'MM-dd')}">
								9月03
							</div>
						</span>
							<div class="ui orange basic left pointing label"  th:text="${blog.flag}">
								原创
							</div>
						</a>
					</div>
				</th:block>

			
			</div>
		</div>
		<br />
		<br />
		<!-- 底部 -->
		<footer th:replace="_fragment :: footer">
		</footer>
		<script>
			$(document).on('click','.menu.toggle',function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
		</script>
	</body>
	<script th:replace="_fragment :: footer_list_blog">

	</script>
</html>
